/* Подключаем шрифты */
@font-face {
    font-family: "MariadPro-Regular";
    src: url("../fonts/MyriadPro-Regular.eot");
    src: url("../fonts/MyriadPro-Regular.ttf") format("truetype"),
    url("../fonts/MyriadPro-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Общие стили */
* {
    padding: 0;
    margin: 0;
    font-family: MariadPro-Regular, sans-serif;
}
body {
    width: 100%;
    background: white;
}
.container{
    display: flex;
    flex-direction: column;
    min-width: 320px;
}
/*NAV*/
nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #259ec5;
    opacity: 0.9;
    z-index: 5;
    position: fixed;
}
nav .navigator{
    width: 65%;
    min-width: 1024px;
    display: flex;
    -webkit-padding-start: 0;
    justify-content: space-between;

}
nav ul li{
    list-style-type: none;
    position: relative;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
    line-height: 3.8em;
    font-family: MyriadProRegular,sans-serif;
}
nav ul li:hover{
    background-color: #0d9ac7;
}
nav > ul > li:hover{
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin-left: -2.5%;
    margin-right: -2.5%;
}
nav li:hover .menu_min{
    visibility: visible;
    transition: width 2s linear 500ms;
}
.menu_min{
    z-index: 2;
    top: 104%;
    position: absolute;
    background-color: #259ec5;
    width: 263px;
    -webkit-padding-start: 0;
    left: 0;
    visibility: hidden;
    opacity: 0.8;
    transition: width 2.3s ease 2.15s;
}
.menu_min li{
    padding: 4.7% 0 4.7% 9%;
}
.menu_min li a{
    line-height: 1em;
    font-size: 1rem;
}
/* Toggle Menu CSS */
.toggle-mobile-btn {
    position: fixed;
    display: none;
    float: left;
    line-height: 50px;
    width: 50px;
    transition: 0.3s;
    background: #0798c7;
}
.toggle-mobile-btn span:after,
.toggle-mobile-btn span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
}
.toggle-mobile-btn span:after{
    top: 9px;
}
.toggle-mobile-btn span {
    position: relative;
    display: inline-block;
}
.toggle-mobile-btn span,
.toggle-mobile-btn span:after,
.toggle-mobile-btn span:before {
    width: 100%;
    height: 5px;
    background-color: white;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 3px;
}
.toggle-mobile-btn.open span {
    background-color: transparent;
}
.toggle-mobile-btn.open span:before {
    transform: rotate(45deg) translate(5px, 5px);
}
.toggle-mobile-btn.open span:after {
    transform: rotate(-45deg) translate(7px, -8px);
}

/*---Header-container css---*/
header{
    width: 100%;
    background: url("../images/header.png")50% 0 no-repeat;
    background-size: cover;
    border-bottom: 5px solid #3eacd0;
}
.header-container{
    z-index: 1;
    display: flex;
    flex-direction: row;
    -webkit-justify-content: space-between;
    margin: 0 auto;
    width: 65%;
    min-width: 750px;
}
.header-container figure{
    width: 35%;
    margin-top: 8.34%;
    margin-bottom: 4.17%;
}
.header-container figure > img{
    width: 65%;
    opacity: 0.6;
}
.header-container figcaption{
    font-size: 1.5rem;
    color: white;
    margin-top: 38px;
}
.social_network{
    display: flex;
    -webkit-justify-content: space-between;
    width: 146px;
    margin-top: 30px;
}
.social_network a img{
    opacity: 0.7;
}
.social_network a img:hover{
    opacity: 1;
}

.header-container section ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 100px;
    left: 74%;
}
.header-container section ul li{
    list-style: none;
    font-size: 0.875rem;
    font-weight: bold;
    padding-left: 10px;
}
.header-container section ul li a{
    text-decoration: none;
    color: #a8bec7;
    text-transform: uppercase;
}
.header-container section ul li a:hover{
    color:#0798c7;
}
.header-container section a{
    text-decoration: none;
    color: white;
}
header section >a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 60px;
    position: absolute;
    height: 63px;
    line-height: 1.25rem;
}
header section a#link_green,header section a#link_blue{
    text-transform: uppercase;
    right: 0;
    width: 30%;
}
header section a#link_green{
    position: absolute;
    top: 22.3%;
    background: linear-gradient(to right, #d0e4a9 5%, #a9cd39 28%, #ecf6fb 95%);
}
header section a#link_green:before{
    content: url("../images/first-sliders.png");
    transition: 0.5s ease all;
    position: absolute;
    left: -11%;
    top: -28%;
}
header section a#link_green:hover::before{
    content: url("../images/first-sliders.png");
    transform: scale(1.2,1.2);
    position: absolute;
    left: -11%;
    top: -28%;
}
header section a#link_blue{
    top: 40.15%;
    background: linear-gradient(to right, #7ee5f2 5%, #0bd4e9 28%, #ecf6fb 95%);
}

header section a#link_blue:before{
    content: url("../images/second-sliders.png");
    transition: 0.5s ease all;
    position: absolute;
    left: -11%;
    top: -28%;
}
header section a#link_blue:hover::before{
    content: url("../images/second-sliders.png");
    transform: scale(1.2,1.2);
    position: absolute;
    left: -11%;
    top: -28%;
}
#middle-point {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 20;
}
div[id^='point'] {
    background: url("../images/point.png");
    background-size: 10px;
    width: 10px;
    height: 10px;
    top: 80px;
    left: -35px;
    position: relative;
}
#point1 span, #point2 span,#point3 span,#point4 span,#point5 span{
    display: none;
}
#point1:hover .tip,#point2:hover .tip,#point3:hover .tip,#point4:hover .tip,#point5:hover .tip{
    display: block;
}
.tip{
    font-size: 12px;
    color: white;
    padding-left: 10px;
}
#point1 {
    top: 110px;
    left: -37px;
}
#point2 {
    top: 122px;
    left: 13px;
}
#point3 {
    top: 161px;
    left: 3px;
}
#point4 {
    top: 206px;
    left: 15px;
}
#point5 {
    top: 257px;
    left: -10px;
}

/*Услуги*/
.circle {
    width: 100%;
    background: #dae5e9;
    display: flex;
    justify-content: center;
}
.face-list{
    width: 65%;
    min-width: 760px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    text-align: center;
    padding: 50px 0;
}
.face-list li{
    width: 240px;
    list-style: none;
}
.services-main-name {
    margin-top: 14px;
    font-size: 20px;
    color: #2b2b2b;
    width: 176px;
    min-height: 72px;
}
.face {
    width: 176px;
    height: 176px;
}
.image-border{
    border-radius: 50%;
    border: 1px solid #6b7072;
}
.image-border:hover{
    border-radius: 50%;
    border: 1px solid #3eacd0;
    box-shadow: 0 7px 10px #b4bdc0;
}

/*--секция Философия--*/
.philosophi{
    width: 100%;
    background-color: white;
}
.content{
    width: 65%;
    margin: 0 auto;
}
.content:before {
    content: url("../images/quote.png");
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.content:after {
    content: url("../images/quote.png");
    display: block;
    transform: rotate(180deg);
    margin-top: 10px;
    margin-bottom: 10px;
}
.men{
    width: 202px;
    height: 202px;
}
.box {
    line-height: 1.5;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.box-base {
    width: 300px;
    margin-left: 50px;
    flex: 1  430px;
}
.box-side {
    flex: none;

}
.box-img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    border: 15px solid #ecf2f4;
}

.box-base h4{
    font-family: MariadProRegular, sans-serif;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.box-base p{
    font-family: MyriadProRegular,sans-serif;
    font-size: .8em;
}
/* Секция галерея*/
.gallery-container{
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(to bottom, #3eacd0, transparent 100%),url("../images/galery-bg.png")center;
    background-size: cover;
    font-size: 30px;
    color: white;
    text-align: center;
}

.gallery-container p{
    margin-top: .65em;
    margin-bottom: .7em;
}
.gallery{
    width: 100%;
    display: flex;
    justify-content: center;
}
#owl-demo{
    width: 65%;
}
#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 1;
}
.item :hover{
    opacity: 0.7;
    background-color: rgba(0,0,0,0.6);
}

.hover-img{
    transition: all 1s ease;
    opacity: 0;
    background: url("../images/whatch.png") no-repeat center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
/*секция новости*/
section.news{
    width: 65%;
    min-width: 750px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 4%;
}
.container h3{
    font-size: 1.875rem;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    text-align: center;
    font-weight: 500;
}
.news figure{
    width: 31.7%;
}
.news figure >img{
    width: 100%;
    margin-bottom: 1em;
}
.news figcaption{
    display: flex;
    flex-direction: column;
}
.news h4{
    font-size: 1.375rem;
    font-weight: 500;
}
.news figcaption >p{
    font-size: 0.875rem;
    font-weight: 500;
}
.news figcaption > div{
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
}
/*Footer*/
footer {
    width: 100%;
    height: 180px;
    background: #0798c7;
    border-top: 5px solid #dae5e9;
}
.fcontent{
    width: 65%;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
}
.logo-social{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 98px;
}
.logo-social a{
    padding-right: 15px;
}
.logo-social a img{
    opacity: 0.7;
}
.logo-social a img:hover{
    opacity: 1;
}
.link {
    width: 110px;
    height: 31px;
    border: 1px solid rgba(255,255,255,0.7);
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 20px;
    padding-left: 40px;
}
.link a {
    top: 14px;
    color: white;
    font-size: 14px;
    text-decoration: none;
    position: absolute;
}
.link a:before{
    content: url("../images/write.png");
    position: absolute;
    left: -27px;
}
.adress-wrap,.adress-wrap-two{
    color: white;
}
.adress-text h4{
    font-size: 16px;
}
.local{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 21px;
    padding-left: 20px;
}
.text p{
    position: relative;
    font-size: 13px;
}
.text p:before{
    content: url("../images/location.png");
    position: absolute;
    left: -22px;
}
.phone{
    padding-left: 40px;
}
.phone p{
    position: relative;
    font-size: 13px;
}
.phone p:before{
    content: url("../images/phone.png");
    position: absolute;
    left: -22px;
}
/*Адаптивная верстка под экраны от 768 пикселей до 1024 пикс*/
@media (min-width: 768px) and (max-width: 1024px) {
    nav .navigator {
        width: 100%;
        min-width: 688px;
        margin-left: 25px;
        margin-right: 25px;
    }
    nav ul li a {
        font-size: 0.9375rem;
        line-height: 2.8em;
    }
    nav > ul > li:hover{
        padding-left: 1%;
        padding-right: 1%;
        margin-left: -1%;
        margin-right: -1%;
    }
    .menu_min{
        width: 254px;
    }
    .menu_min li{
        padding: 2% 0 2% 6%;
    }
    .menu_min li a{
        line-height: 1em;
        font-size: 0.875rem;
    }
    .header-container figure > img {
        width: 130px;
        margin-left: 62px;
    }
    .header-container figcaption {
        font-size: 14px;
        margin-left: 60px;
        margin-top: 20px;
    }
    .social_network {
        width: 100px;
        padding-left: 57px;
        margin-top: 30px;
    }
    .social_network a img {
        width: 30px;
    }
    .header-container section ul{
        top: 60px;
    }
    header section a#link_green,header section a#link_blue{
        width: 223px;
        height: 38px;
    }
    header section a#link_green{
        top: 15.3%;
    }
    header section a#link_green:before {
        transform: scale(.7);
        left: -16%;
        top: -71%;
    }
    header section a#link_blue{
        top: 29.15%;
    }
    header section a#link_blue:before {
        transform: scale(.7);
        left: -16%;
        top: -71%;
    }
    #point1 {
        top: 75px;
    }
    #point2 {
        top: 86px;
    }
    #point3 {
        top: 105px;
    }
    #point4 {
        top: 140px;
    }
    #point5 {
        top: 186px;
    }
    .image-wrapper img{
        width: 136px;
    }
    .face {
        width: 167px;
        height: 167px;
    }
    .face-list li {
        width: 180px;
    }
    .services-main-name {
        margin-top: -15px;
        font-size: 13px;
        color: #2b2b2b;
        width: 182px;
        min-height: 0;
    }
    .content {
        width: 90%;
    }
    .box-side img {
        width: 170px;
        height: 170px;
    }
    .news figure >img {
        width: 217px;
    }
    .adress {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .fcontent{
        min-width: 768px;
        padding-top: 45px;
        display: flex;
        flex-direction: row;
    }
    .logo-social {
        position: relative;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        margin-left: 50px;
    }
    .logo-social a {
        padding-right: 8px;
    }
    .link{
        margin-left: 0;
        margin-top: 16px;
    }
    .link a {
        top: 70px;
    }
    .adress-wrap{
        width: 236px;
    }
    .adress-wrap-two{
        width: 190px;
    }
    .adress-wrap, .adress-wrap-two {
        margin-left: 50px;
    }
    .adress-wrap-two{
        margin-right: 50px;
    }
    .adress-text h4{
        font-size: 15px;
    }
    .local {
        padding-top: 25px;
        flex-direction: column;
    }
    .phone {
        padding-left: 0;
    }
    .phone{
        padding-top: 18px;
    }
    .text p,.phone p{
        font-size: 12px;
    }

    .adress-wrap-two .text {
        padding-top: 15px;
    }
}
/*Адаптивность под экраны от 320px*/
@media only screen and (min-width: 320px) and (max-width: 768px) {
    .toggle-mobile-btn {
        display: block;
        z-index: 999;
    }
    nav {
        width: 100px;
        left: -201px;
        display: flex;
        justify-content: center;
        top: 50px;
    }
    nav .navigator {
        display: flex;
        flex-direction: column;
        min-width: 100px;
    }
    nav ul li a {
        font-size: 0.9375rem;
        line-height: 2em;
    }
    nav > ul > li:hover{
        padding-left: 0.5%;
        padding-right: 0.5%;
        margin-left: -0.5%;
        margin-right: -0.5%;
    }
    .menu_min{
        width: 200px;
    }
    .menu_min li a{
        line-height: 1em;
        font-size: 0.875rem;
    }
    .menu_min {
        top: 0;
        left: 100px;
    }
    .menu_min li{
        padding: 2% 0 2% 4%;
    }
    header {
        background: url("../images/header.png") 32% 0 no-repeat;
        background-size: cover;
        margin-top: 50px;
    }
    .header-container{
        min-width: 320px;
    }
    .header-container section ul{
        display: none;
    }
    .header-container figcaption {
        font-size: 10px;
        margin-top: 10px;
    }
    .header-container figure {
        margin-top: 13.34%;
        margin-left: 20px;
    }
    .social_network a img{
        width: 25px;
        height: 25px;
        margin-left: 5px;
    }
    .social_network {
        width: 77px;
        margin-top: 12px;
    }

    header section a#link_green:before, header section a#link_blue:before {
        display: none;
    }

    header section a#link_green {
        top: 0;
        height: 25px;
    }

    header section a#link_blue {
        top: 25px;
        height: 25px;
    }

    header section a#link_green, header section a#link_blue {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    header section a#link_green {
        background: #a9cd39;
    }
    header section a#link_blue{
        background:#0bd4e9;
    }
    #point1, #point2,#point3,#point4,#point5 {
       display: none;
    }
    .face-list {
        width: 65%;
        min-width: 320px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0;
        margin-bottom: 40px;
        margin-top: 40px;
    }
    .face-list li {
        width: 125px;
        height: 172px;
        padding-left: 20px;
    }
    .image-wrapper img{
        width: 116px;
        height: 116px;
    }
    .face {
        width: 0;
        height: 113px;
    }
    .services-main-name {
        margin-top: 14px;
        font-size: 13px;
        width: 125px;
        min-height: 60px;
    }
    .box-side img {
        width: 156px;
        height: 156px;
    }
    .box-base{
        margin-left: 0;
    }
    .box-base h4 {
        font-size: 1rem;
    }
    .container h3 {
        font-size: 16px;
    }
    .news h4{
        font-size: 14px;
    }
    .news figcaption >p{
        font-size: 12px;
    }
    .news figure {
        width: 45.7%;
    }
    .news figure:last-child{
        display: none;
    }
    section.news {
        min-width: 320px;
        justify-content: space-around;
    }
    .content {
        width: 90%;
    }
    .box {
        display: flex;
        flex-wrap: wrap;
    }
    .box-base p {
        font-size: 12px;
    }

    footer{
        display: flex;
        flex-direction: column;
        height: 300px;
    }
    .fcontent{
        min-width: 320px;
        height: 300px;
        display: flex;
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
    }
    .logo-social{
        width: 275px;
        display: flex;
        flex-direction: row;
        position: relative;
        margin-top: 0;
    }
    .logo-social a {
        padding-right: 2px;
    }
    .logo-social a img {
        width: 30px;
    }
    .link{
        margin-top: 0;
    }
    .link a {
        top: 8px;
    }
    .adress-wrap, .adress-wrap-two{
        display: flex;
        flex-direction: column;
        width: 275px;
    }
    .adress-wrap .text, .adress-wrap-two .text{
        width: 131px;
    }
    .phone {
        padding-left: 23px;
    }
    .local{
        display: flex;
        flex-direction: row;
    }
    .adress-wrap-two .phone:before{
        padding-left: 0;
    }
}

